@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  @apply overflow-hidden;
}

@keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .animate-jiggle {
    animation: jiggle 0.5s infinite;
  }
}
